body {
	font-family: 'Dosis', sans-serif;
}

* {
	padding: 10px;
}

img {
	padding-right: 30px;
}

a:link {
	display: inline-block;
	font-size: 20px;
}

#footer, #footer a:link {
	clear: both;
	font-size: 12px;
}
