<h1>The Magnificent Cities of Canada</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Political_map_of_Canada.png" height="500px" class="pull-left">

<h3>Canada is an amazing country. Learn about its different cities and their history by clicking on the links below!</h3>

<a ng-href="/#!/Calgary">Calgary</a>

<a ng-href="/#!/Halifax,_Nova_Scotia">Halifax</a>

<a ng-href="/#!/Fredericton">Fredericton</a>

<a ng-href="/#!/Montreal">Montreal</a>

<a ng-href="/#!/Ottowa">Ottowa</a>

<a ng-href="/#!/Quebec_City">Quebec City</a>

<a ng-href="/#!/Regina,_Saskatchewan">Regina</a>

<a ng-href="/#!/Toronto">Toronto</a>

<a ng-href="/#!/Vancouver">Vancouver</a>

<a ng-href="/#!/Winnipeg">Winnipeg</a>

<div id="footer">
Thanks <a ng-href="http://www.wikipedia.org">Wikipedia</a>
<br>
Copyright &copy; 2015 <a ng-href="http://github.com/jsakalys">Julie Sakalys</a>
</div>